<div>
  "Please enter your credentials below."
</div>
<table>
  <tr>
    <td>
      Username
    </td>
    <td><input></td>
  </tr>
  <tr>
    <td>
      password
    </td>
    <td><input type="password"></td>
  </tr>
  <tr>
    <td>
      <button>login</button>
    </td>
    <td><button>sign up</button></td>
  </tr>
</table>
