<div>
  "Please enter your credentials below."
</div>
<table>
  <tr>
    <td>
      Username
    </td>
    <td><input id='id'></td>
  </tr>
  <tr>
    <td>
      password
    </td>
    <td><input id='pw' type="password"></td>
  </tr>
  <tr>
    <td>
      <button id="login">login</button>
    </td>
    <td><button id="signup">sign up</button></td>
  </tr>
</table>
